<%- include("partials/header") -%>



<h1>Home</h1>
<div>
    <div class="skewed"></div>
    <div class="skewed2"></div>
    <div class="skewed3"></div>
  </div>
  <div class="circle__area">
    <div class="circle"></div>
  </div>
  <!-- <div class="copy__area">
    <p class="copy__area__text">INSOMNIA</p>
  </div> -->


<p><%= startingContent %></p>
<p><%= console.log(posts); %></p>

<%# a foreach loop accesing the posts array in app.js %>
<%posts.forEach(function(post){%>
  <h2><%= post.title%></h2>
  <p>
  <%= post.content.substring(0, 100) + "..."%>
  <a href="/posts/<%=post._id%>">Read More</a>
  </p>
<%});%>

</div>


<%- include("partials/footer") -%>
